* {
    box-sizing: border-box;
}

body {
    margin: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;
    color: #212121;
    line-height: 1.5;

    margin: 0 auto;
    max-width: 1280px;
}

.router {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;

    a {
        text-decoration: none;
    }
}

.go-back-btn {
    padding: 32px;

    .btn {
        text-decoration: none;
    }
}

#categories {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 392px;
    list-style: none;
    margin: 0 auto;
    padding: 0;

    .item {
        border-radius: 8px;
        padding: 16px;
        gap: 16px;
        background: #f6f6fe;
        width: 100%;

        h2 {
            padding: 0;
            margin: 0 0 16px 0;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0.4px;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 8px;
            list-style: none;
            padding: 0;
            max-width: 360px;

            li {
                width: 100%;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.04px;
                color: #2e2f42;
                border: 1px solid #808080;
                padding: 8px 315px 8px 16px;
                border-radius: 4px;
            }
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 360px;
    margin: 0 auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1280px;
    list-style: none;
    row-gap: 48px;
    column-gap: 24px;
}

.container {
    #name-input {
        width: 360px;
        padding: 8px 140px 8px 16px;
        height: 40px;
        border: 1px solid #808080;
        border-radius: 4px;
        color: #2e2f42;
    }

    h1 {
        align-self: flex-start;
    }
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 360px;
    margin: 0 auto;

    label {
        display: flex;
        flex-direction: column;
        gap: 8px;
        line-height: 24px;

        input {
            height: 40px;
            border: 1px solid #808080;
            border-radius: 4px;
        }
    }
}

.btn {
    margin-top: 8px;
    padding: 8px 16px;
    width: max-content;
    border-radius: 8px;
    height: 40px;
    background-color: #4e75ff;
    color: #ffff;
    border: none;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04px;
    cursor: pointer;

    &:hover {
        background-color: #6c8cff;
    }
}

.widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 170px;
    margin: 0 auto;
    text-align: center;

    p {
        color: #2e2f42;
        line-height: 24px;
        letter-spacing: 0.04px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 500px;
    margin: 0 auto;

    #controls {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        padding: 32px;
        background-color: #f6f6fe;
        border-radius: 8px;

        input {
            border: 1px solid #808080;
            border-radius: 8px;
            width: 150px;
            height: 40px;
            background-color: transparent;
            text-align: center;
            color: #2e2f42;
        }

        .btn {
            margin-top: 0px;
            width: 120px;
        }

        .btn-destroy {
            background-color: #ff4e4e;

            &:hover {
                background-color: #ff7070;
            }
        }
    }

    #boxes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;

        margin: 0 auto;
    }

    #boxes.active-styles {
        background-color: #f6f6fe;
        padding: 32px;
        gap: 44px;
        border-radius: 8px;
    }
}